<p id="notice"><%= notice %></p>

<h1>Visit Histories</h1>

<table>
  <thead>
    <tr>
      <th>Pageinfo</th>
      <th>Ip</th>
      <th>Openid</th>
      <th>Staytime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visit_histories.each do |visit_history| %>
      <tr>
        <td><%= visit_history.pageInfo %></td>
        <td><%= visit_history.ip %></td>
        <td><%= visit_history.openId %></td>
        <td><%= visit_history.stayTime %></td>
        <td><%= link_to 'Show', visit_history %></td>
        <td><%= link_to 'Edit', edit_visit_history_path(visit_history) %></td>
        <td><%= link_to 'Destroy', visit_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit History', new_visit_history_path %>
